<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
    font-family: sans-serif;
}



p.mt-5{
  font-size: 15px;
  font-weight: 500;
}

p.citation{
  color:brown
}

p.lead{
  font-family: Georgia;
}

#description{
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 2px 2px 0px #5c5f72;
   font: 45px 'BazarMedium';
    letter-spacing: 5px;
}


#cite{
  font-size: 15px;
  font-weight: 500;
}

/* BORDERS */

table, td, th {
    border-bottom: 5px solid black;
}

table {
    border-collapse: collapse;
}

/* SIZING */

th {
    height: 30px;
}

/*.colt {
    height: 40px;
    width: 200px;
}*/

table {
    width: 75%;
}

/* ALIGNMENT & SPACING */

td, th {
    padding: 5px;
}


td {
    vertical-align: top;
}

/* HEADER and FOOTER */

thead {
    background-color: dimgrey;
    color: white;
}



/* PSEUDO CLASSES */


     .container{
    width: 100%;
}

/*tablesort css*/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
